body {
	margin: 0;
	padding: 0;
	background: #262626;
}
.slewedBox {
	background: #42dee1;
	padding: 100px 0;
	transform: skew(0deg, -10deg) translateY(-190px);
}
#skew {
	padding: 150px 200px;
	transform: skew(0deg, 10deg);
	font-family: arial;
}
#img{
    margin-left: -90%;
    margin-top: 40px;
}
.col-md-2{
    height: 20px;
    color: #262626;
}
.sec2 {
	padding: 0 200px 150px;
	color: #fff;
	font-family: arial;
	text-align: right;
}
.sec2 h1 {
	margin: 0;
	padding: 20px 0;
	font-size: 3em;
}
.sec2 p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
}
.top-nav-collapse {
    background-color: #42dee1;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #42dee1;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #42dee1;
    }
  }


#img2 {
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;  
}
#img2:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}